	$hover:#e3ffde;
	$grey: #474747;
	$white: #ffffff;
	$green: #109c4a;
	$boton:#5fecaa;
	$fondocard: #f6faf8;
	$black:#111111;

	* {
		box-sizing: Border-box;
	}

	/*estilos de logo y nabvar*/

	header nav {
		min-height: 100px;
		height: 100%;
	}

	.nav-item a {
		color: $grey;
		font-size: 20px;
		font-family: 'Lato', sans-serif;
		transition: 0.3s;
	}

	.nav-item a:hover {
		transform: scale(1.05);
		color: $boton !important;
	}


	/*estilos de index*/

	.mainIndex__container__row--tituloPrincipal2 {
		background: linear-gradient(to right, #249e41, #32c95d 50%);
	}

	.mainIndex__container__row--tituloPrincipal2 div {
		max-width: 500px;
		width: 85%;
		margin: 20px 0px 20px 0px;
	}

	.mainIndex__container__row--tituloPrincipal2 div h1 {
		color: #E9EAEA;
		font-weight: normal;
		font-family: 'Lato', sans-serif;
		padding: 30px 0px 30px 0px;
		margin: 0;
		font-size: 3rem;
		text-align: center;
	}

	.mainIndex__container__row--tituloPrincipal2 div hr {
		border: solid 1.5px #E9EAEA;
		animation-name: efecto1;
		animation-iteration-count: initial;
		animation-duration: 3s;
	}

	@keyframes efecto1 {
		from {
			width: 0%;
		}

		to {
			width: 100%;
		}
	}

	#degradadoImgPrincipal {
		height: 100%;
		width: 100%;
		position: absolute;
		background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(51, 204, 186, 0) 35%, #32c95d 95%);
	}

	@media (max-width: 765px) {
		#degradadoImgPrincipal {
			background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(27, 149, 180, 0) 35%, #32c95d 95%);
		}
	}

	.mainIndex__c-subTitulos {
		background-color: $white;
		text-align: center;
		padding: 80px 20px;
	}

	.mainIndex__c-subTitulos h2 {
		color: #13bf60;
		padding-bottom: 50px;
		font-size: 2.5rem;
		font-weight: 400;
	}

	.mb-0 {
		color: $grey;
		padding-bottom: 50px;
		font-size: 1.5rem;
		font-weight: 400;
	}




	/* Smartphones (portrait) ----------- */

	@media only screen and (max-width: 760px) {
		.imahome {
			max-width: 100%;
			display: block;
			background-position: center center;
		}
	}

	/*estilos de sobre mí*/
	.container-fluid {
		background-color: #fafcfa;
		margin-bottom: 50px;
		margin-top: auto
	}

	.img-fluid {
		margin-top: 40px;
		margin-left: 40px
	}

	.nombre {

		margin-top: 40px;
		margin-bottom: 40px;
		border-radius: 20px;
		color: $grey;
		font-size: 30px;
		font-weight: 20px;
		font-family: 'Roboto', sans-serif;
		margin-left: 50px;
	}

	.bio {
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 20px;
		text-align: justify;
		color: $grey;
		font-size: 18px;
		font-weight: 20px;
		font-family: 'Roboto', sans-serif;
		margin-left: 50px;
		margin-right: 80px;
	}

	.btn-outline-success {
		text-decoration: none;
		line-height: normal;
		font-size: 20px;
		margin-right: 80px;
		margin-left: 50px;
		font-family: 'Roboto', sans-serif;
		border-radius: 35px;
	}

	/*estilos de tratamientos*/
	.jumbotron {
		background-color: #2ccc6f;
	}

	h1.tratamientos {
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
		color: $grey;
		font-size: 30px;
		font-family: 'Roboto', sans-serif;
	}

	.card-img-top {
		width: 70px;
		height: 70x;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px
	}


	.card-text {
		margin-top: 20px;
		margin-bottom: 10px;
		text-align: justify;
		color: $grey;
		font-size: 16px;
		font-weight: 10px;
		font-family: 'Roboto', sans-serif;
		margin-left: auto;
		margin-right: auto
	}





	/*estilos de intalaciones*/
	.galeria {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
		margin-bottom: 20px;
		justify-content: center;
		overflow: hidden;
		margin-left: 10px;
		margin-right: 10px;
		
	}

	.galeria__imagen {
		border: 5px solid #ccc;
float: left;
margin: 15px;

}




	/*estilos de contacto*/
	.photo-full-container-background,
	.photo-full-container {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	.photo-full-container-background {
		background-color: black;
		z-index: 9998;
		opacity: 0.7;
	}

	.photo-full-container {
		z-index: 9999;
		color: white;
	}

	.hide-photo-full-container {
		display: none;
	}

	h3.contactate {
		background-color: #eaeceb;
		text-align: center;
		padding: 20px;
		font-family: 'Roboto', sans-serif;
		margin-bottom: 50px;
	}

	ul {
		list-style: none;
		padding: 2;
	}


	.contact-wrapper>* {
		padding: 3em;
		margin-top: 50px;
		margin-bottom: 50px;
		margin-left: 30px;
		margin-right: 30px;
	}

	.contact-form {
		background: $white;
	}

	.contact-form form {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.contact-form form label {
		display: block;
	}

	.contact-form form p {
		margin: 0;
		padding: 1em;
	}

	.contact-form form .block {
		grid-column: 1 / 3;
	}

	.contact-form form button,
	.contact-form form input,
	.contact-form form textarea {
		width: 100%;
		padding: .7em;
		border: none;
		background: none;
		outline: 0;
		color: $black;
		border-bottom: 1px solid $green;
	}

	.contact-form form button {
		background: $green;
		border: 0;
		text-transform: uppercase;
		padding: 1em;
	}

	.contact-form form button:hover,
	.contact-form form button:focus {
		background: $boton;
		color: $white;
		transition: 1s ease-out;
		outline: 0;
	}

	/* CONTACT INFO */
	.contact-info {
		background: $fondocard
	}

	.contact-info h4 {
		margin-top: 50px
	}

	.contact-info ul {
		margin-top: 50px
	}

	.contact-info p {
		font-family: 'Roboto', sans-serif;
		margin-left: 50px;
		margin-top: 100px;
		margin-bottom: 30px;
	}


	/* LARGE SIZE */
	@media(min-width: 700px) {
		body {
			padding: 0, 5px;
		}

		.contact-wrapper {
			display: grid;
			grid-template-columns: 2fr 1fr;
		}

		.contact-wrapper>* {
			padding: 2em;
		}

		.contact-info h4,
		.contact-info ul,
		.contact-info p {
			text-align: left;
		}
	}


	/*estilos de footer*/
	footer {background-color: $black;
	padding: 9px;}
	.footer__texto {color: $white}