	$grey: #474747;
	$white: #ffffff;
	$green: #109c4a;
	$boton:#5fecaa;
	$black:#111111;
	$gradient1: #249e41;
	$gradient2: #32c95d;
	$light: #f3f3f3;

	* {
		box-sizing: Border-box;
	}

	/*estilos de logo y nabvar*/
	header {
		nav {
			min-height: 100px;
			height: 100%;
		}
	}

	.nav-item {
		a {
			color: $grey;
			font-size: 20px;
			font-family: 'Lato', sans-serif;
			transition: 0.3s;

			&:hover {
				transform: scale(1.05);
				color: $boton !important;
			}
		}
	}



	/*estilos de index*/

	@keyframes efecto1 {
		from {
			width: 0%;
		}

		to {
			width: 100%;
		}
	}

	.mainIndex__container__row--tituloPrincipal2 {
		background: linear-gradient(to right, $gradient1, $gradient2 50%);

		div {
			max-width: 500px;
			width: 85%;
			margin: 20px 0px 20px 0px;

			h1 {
				color: $white;
				font-weight: normal;
				font-family: 'Lato', sans-serif;
				padding: 30px 0px 30px 0px;
				margin: 0;
				font-size: 3rem;
				text-align: center;
			}

			hr {
				border: solid 1.5px $white;
				animation-name: efecto1;
				animation-iteration-count: initial;
				animation-duration: 3s;
			}
		}
	}

	#degradadoImgPrincipal {
		height: 100%;
		width: 100%;
		position: absolute;
		background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(51, 204, 186, 0) 35%, $gradient2 95%);
	}

	.mainIndex__c-subTitulos {
		background-color: $white;
		text-align: center;
		padding: 80px 20px;

		h2 {
			color: $green;
			padding-bottom: 50px;
			font-size: 2.5rem;
			font-weight: 400;
		}
	}

	.mb-0 {
		color: $grey;
		padding-bottom: 50px;
		font-size: 1.5rem;
		font-weight: 400;
	}

	@media (max-width: 765px) {
		#degradadoImgPrincipal {
			background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(27, 149, 180, 0) 35%, $gradient2 95%);
		}
	}


	/* Smartphones (portrait) ----------- */

	@media only screen and (max-width: 760px) {
		.imahome {
			max-width: 100%;
			display: block;
			background-position: center center;
		}
	}

	/*estilos de sobre mí*/

	.container-fluid-sobremi {
		background-color: #fcfffd;
		margin-top: auto;
		margin-bottom: 50px;
		padding: 50px;
	}

	.img-fluid {
		margin-top: 40px;
		margin-right: 50px;
	}

	.nombre {
		margin-top: 40px;
		margin-bottom: 40px;
		border-radius: 20px;
		color: $grey;
		font-size: 30px;
		font-weight: 20px;
		font-family: 'Roboto', sans-serif;
	}

	.bio {
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 20px;
		text-align: justify;
		color: $grey;
		font-size: 18px;
		font-weight: 20px;
		font-family: 'Roboto', sans-serif;
	}

	@media only screen and (max-width: 760px) {
		.img-fluid {
			max-width: 100%;
			display: block;
			background-position: center center;
		}
	}



	/*estilos de tratamientos*/
	.jumbotron {
		background-color: $light;
	}

	h1.tratamientos {
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
		color: $grey;
		font-size: 30px;
		font-family: 'Roboto', sans-serif;
	}

	.card-img-top {
		width: 70px;
		height: 70x;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}

	.card-text {
		margin-top: 20px;
		margin-bottom: 10px;
		text-align: justify;
		color: $grey;
		font-size: 16px;
		font-weight: 10px;
		font-family: 'Roboto', sans-serif;
		margin-left: auto;
		margin-right: auto;
	}

	.btn-outline-success {
		text-decoration: none;
		line-height: normal;
		font-size: 18px;
		font-family: 'Roboto', sans-serif;
	}


	/*estilos de intalaciones*/

	.display-5 {
		color: $grey;
		font-family: 'Roboto', sans-serif;
	}

	.galeria {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
		margin-bottom: 20px;
		justify-content: center;
		overflow: hidden;
		margin-left: 10px;
		margin-right: 10px
	}

	.galeria__imagen {
		margin: 10px;
		margin-top: 15px;
		margin-bottom: 10px;
		flex: auto;
		padding: 20px
	}

	.galeria__imagen {
		transition: all 1s ease;

	}

	.galeria__imagen:hover {
		transform: scale(1.1);


	}
	/*estilos de contacto*/

	.contact {
		background: linear-gradient(rgba(27, 189, 54, 0.6), rgba(42, 255, 67, 0.6)), url("../img/fotofondo.jpg");
		background-size: cover;
		padding: 30px;
		margin-bottom: 0;
	}

	.form {
		width: 400px;
		height: 450px;
		background: $light;
		border-radius: 8px;
		box-shadow: 0 0 40px -10px $black;
		margin: calc(50vh - 220px) auto;
		padding: 20px 30px;
		box-sizing: border-box;
		font-family: 'Roboto', sans-serif;
	}

	.contactate {
		margin-right: auto;
		margin-left: auto;
		padding-bottom: 10px;
		width: 200px;
		color: $grey;
		border-bottom: 3px solid $grey;
	}

	input {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		background: none;
		outline: none;
		resize: none;
		border: 0;
		font-family: 'Roboto', sans-serif;
		border-bottom: 2px solid #bed2be;

		&:focus {
			border-bottom: 2px solid #6cac8f;
		}
	}

	p {
		&:before {
			content: attr(type);
			display: block;
			margin: 28px 0 0;
			font-size: 14px;
			color: #5a5a5a;
		}
	}

	button {
		float: right;
		padding: 8px 12px;
		margin: 8px 0 0;
		font-family: 'Roboto', sans-serif;
		border: 2px solid #88ac81;
		background: 0;
		color: #5a5a6e;
		cursor: pointer;
		transition: all .3s;

		&:hover {
			background: $green;
			color: $light;
		}
	}

	span {
		margin: 0 5px 0 15px;
	}

	@media only screen and (max-width: 360px) {
		.form {
			max-width: 100%;
		}
	}